.logo {
    width: 40%;
    background-color: #82B366;
    color: #FFF;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0.5rem;
    border-radius: 10px;
  }
  
  .logo h1 {
    font-weight: normal;
    margin: 0;
    font-size: 10vw;
  }
  
  .logo span {
    color: #FFB347;
  }
  